body {
    font-family: 'Annie Use Your Telescope', cursive;
    background-color: rgb(248, 235, 160); 
}

.container {
    display: grid;
    grid-template-columns: 10px fr 10px ;
    grid-template-rows: 1fr 100px 1fr 1fr 50px;
    grid-template-areas:
    ". header ."
    ". nav ."
    ". main ."
    ". aside ."
    ". footer .";
    height: 1000px;  
    }

header {
    font-size: 36px;
    color: white;
    background-color: rgb(76, 76, 250);
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 5px;
    padding-right: 10px;
    border: 5px solid white;
    grid-area: header;
    }

nav {
    background-color: cornsilk;
    box-sizing: border-box;
    padding-bottom: 5px;
    padding-right: 10px;
    border: 5px solid white;
    grid-area: nav;   
    }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

nav ul li {
    float: left;
    margin-right: 20px;  
    }

nav ul li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
    }

main {
    background-color: darkgray;
    color: rgb(5, 5, 78);
    grid-area: main;
    box-sizing: border-box;
    padding: 5px;
    margin: 10px 10px 10px 0;
    border: 5px solid white;  
    }

main h2 {
    text-align: center;
    font-size: 40px;
    }

main h3 {
    margin: 30px;
    }

aside {
    background-color: gold;
    grid-area: aside;
    box-sizing: border-box;
    padding: 5px;
    margin: 10px;
    border: 5px solid white;
    }

footer {
    background-color: rgb(161, 213, 248);
    grid-area: footer;
    box-sizing: border-box;
    padding: 5px;
    border: 5px solid white;
    padding-bottom: 50px;
    }

aside li {
    padding-left: 5px;
    padding-bottom: 10px;
    width: 200px;
    list-style-image: url(../Eindopdracht_1/Images/HappyCat\ 25px.png)  
    }

a {
    text-align: left;
    text-decoration: none;
    }

  a:hover {
    color: red;
    }

button {
    text-align: center;
    color: white;
    background-color: black;
    position: relative;
    top: -5px;
    }

button:hover {
    color: black;
    background-color: white;
    }

.menubottom {
    text-align: center;
    }

.highlight {
     color:brown;
    font-style: italic;
    font-weight: bold;
    font-size: larger;
    }

    table, td {
        padding: 10px;
    }

    table {
        border-collapse: collapse;
        background-color: lightsteelblue;
        border-radius: 25px;
    }

@media (min-width: 768px) {
      
        .container {
            background-color:green;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }
        }
      
@media (min-width: 1024px) {
      
.container {
    font-family: 'Annie Use Your Telescope', cursive;
    background-color: coral;
    grid-template-columns: 30px 300px 1fr 30px ;
    grid-template-rows: 1fr 50px 1fr 50px;
    grid-template-areas:
    ". header header ."
    ". nav nav ."
    ". aside main ."
    ". footer footer .";
    }
}